@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrati";
}


<link rel="stylesheet" href="~/css/signin.css" />
<link rel="stylesheet" href="~/css/site.css" />

<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>Registrati</h1>
            <div class="social-container">
                <a href="#" class="social"><i class="bi bi-facebook"></i></a>
                <a href="#" class="social"><i class="bi bi-google"></i></a>
            </div>
            <span>Crea account</span>
            <panel style="overflow: scroll; height: 50%;">
                <input asp-for="Input.Nome" type="text" style="margin: 8px 0" placeholder="Nome" />
                <input asp-for="Input.Cognome" type="text" style="margin: 8px 0" placeholder="Cognome" />
                <input asp-for="Input.NomeProfilo" type="text" style="margin: 8px 0" placeholder="Username" />
                <input asp-for="Input.Email" type="email" style="margin: 8px 0" placeholder="Email" />
                <input asp-for="Input.Password" type="password" style="margin: 8px 0" placeholder="Password" />
                <input asp-for="Input.ConfirmPassword" type="password" style="margin: 8px 0" placeholder="Confirm password" />
                <input asp-for="Input.DataNascita" type="date" style="margin: 8px 0" placeholder="DataNascita" />
                <input asp-for="Input.FotoProfilo" type="file" style="margin: 8px 0" placeholder="Foto Profilo" />
            </panel>
            <br />
            <button>Registrati</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Bentornato!</h1>
                <p>Per restare connesso con noi effettua il login con i tuoi dati personali</p>
                <button class="ghost" id="signIn">Accedi</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Benvenuto in EsyNet</h1>
                <p>Hai già un account? Accedi:</p>

                <a id="forgot-password" asp-page="./Login">Accedi</a>
            </div>
        </div>
    </div>
</div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
